* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
@font-face {
  font-family: yorkieRegular;
  src: url(/fonts/YorkieDEMO-Regular.otf);
}
@font-face {
  font-family: yorkieLight;
  src: url(/fonts/YorkieDEMO-Light.otf);
}
@font-face {
  font-family: coinage;
  src: url(/fonts/CoinageCapsKrugerGray.ttf);
}
.nav {
  z-index: 1000;
  background: #20284d;
  position: sticky;
}
.meme {
  background: #20284d;
  margin: 0;
}
/*todo respecto al boton de abrir el menú*/
.menu {
  background: #20284d;
  bottom: 25px;
  box-shadow: 0 0 0 0 #20284d, 0 0 0 0 #20284d;
  cursor: pointer;
  height: 60px;
  right: 60px;
  width: 208vh;
  transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2;
}
/*lineas del boton para abrir el menú*/
.hamburger {
  position: relative;
  top: 29px;
  left: 15px;
  width: 30px;
  height: 3px;
  background: white;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}
.hamburger::after,
.hamburger::before {
  background: white;
  content: "";
  display: block;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
}
.hamburger::before {
  top: -10px;
}
.hamburger::after {
  bottom: -10px;
}
input {
  display: none;
}
/*menú abierto*/
input:checked ~ label .menu {
  box-shadow: 0 0 0 1vw #20284d, 0 0 0 92vh #20284d, 0 0 0 130vh white;
  background-image: url(/images/logofo.png);
}
input:checked ~ label .hamburger {
  transform: rotate(45deg);
}
input:checked ~ label .hamburger::after {
  transform: rotate(90deg);
  bottom: 0;
}
input:checked ~ label .hamburger::before {
  transform: rotate(90deg);
  top: 0;
}
input:checked ~ ul {
  opacity: 1;
}
ul {
  position: absolute;
  transform: translate();
  list-style: none;
  font-size: 45px;
  opacity: 0;
  transition: 0.25s, 0.1s cubic-bezier(0, 1.07, 0, 1.02);
  z-index: 2;
}
li a {
  color: rgb(184, 184, 184);
  transform: all 300ms;
  position: relative;
}
li a::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 0;
  height: 10px;
  background-color: white;
  transition: all 600ms cubic-bezier(1, 0, 0, 1);
}
li a:hover::before {
  width: 110%;
}
li a:hover {
  font-size: 3rem;
  color: white;
}
a {
  color: #00cec9;
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
  text-align: left;
}
.cajal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.peak {
  color: white;
  font-size: 2.5rem;
  font-family: yorkieRegular;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.content {
  display: flex;
}

.section {
  min-width: 100vw; /* Establece el ancho mínimo de cada sección al ancho de la ventana */
  box-sizing: border-box;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.caja-titu {
}
.porta-titu {
  color: #20284d;
  font-family: yorkieRegular;
  font-size: 2.3rem;
  margin: 5% 0 0 10%;
}
.montaña{
  position: fixed;
  z-index: -1;
}

.linea {
  height: 4px;
  background-color: #20284d;
  border-radius: 10px;
  margin: 2% 0 0 5.5%;
}
.gira{
  z-index: 0;
  height: 100vh;
}

.circulo {
  height: 100%;
  display: flex ;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(-90deg);
}

.center {
  margin-top: 40%;
  position: relative;
}

.button {
  user-select: none;
  background-color: ;
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  transform: rotate(90deg);
}

.item {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

