*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../images/cosar.png);
    background-position: center;
    background-size:120%;
    background-color: rgb(6, 6, 6);
    min-height: 100vh;
    overflow-x: hidden; 
}
@font-face {
    font-family: Barlow;
    src: url(../fonts/BarlowSemiCondensed-Regular.ttf);

}
@font-face {
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: interextra;
    src: url(../fonts/Inter-ExtraLight.ttf);
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Light.ttf);
}
.fium{
    border-radius: 7px;
    padding: 2% ;
    margin-top: 5%;
   background-color: #1b1b1b;
}
.contacto{
    color: white;
    font-family: Anton;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 10px;
}
.formulario{
    margin-top: 5%;
}
.sepafo{
    margin-top: 5%;
}
.cred{
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.redes{
    margin-bottom: 3%;
}
.red1{
    justify-content: center;
    margin-right: 15%;
    
    
}
.check{
    margin-top: 4%;
}
.envi{
    margin-top: 1%;
}
.envi:hover{
    background-color:#E42524;
    color: white;
}
.inc{
    color: white;
    font-family: inter;
    display: flex;
    justify-content: center;
}
.linea2{
    margin-top: 3%;
    border-top: 2px solid white ;
    height: 1px;
    max-width: 100%;
    border-radius: 100%;
 }
 .mensa{
    height: 80%;
 }